html, body{
	box-sizing: border-box;
	height: 100%;
}
header{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 5000;
    width:100%;
    background-color: #111155;
    box-shadow: 0px 2px 7px rgba(17, 17, 85, 0.85);
    vertical-align: middle;
}
.nav{
    display: block;
    vertical-align: middle;
}
nav.homebar{
    float: left;
    display: flex;
    margin-left: 3%;
}
nav.begi{
    float: right;
    display: flex;
    flex-direction: row;
    margin-right: 3%;
}

.nav-item{
    padding:  10px 0px;
}
button{
    cursor: pointer;
}

button.btn{
    border: none;
    background: transparent;
}

.fas,.far{
    color: aliceblue;
}
span{
    color: aliceblue;
}